<!DOCTYPE html>
<title>Home</title>
<h1 style="font-family:arial;">Welcome to the IMDB API</h1>
<body style="font-family:arial;">This is a simple web API that gives you some information from the IMDB database, in JSON format.
<p>To navigate to the different pages, copy and paste the route, inside the parenthesis, onto the web browser.<br>
    <i>For example, for all movie data: 127.0.0.1:5000/all-movie-data</i></p>
</body>


<p style="font-family:arial;"><b>Information available:</b></p>
<p>All data from the database </p><p style="color: blue;">(/all-movie-data)</p>
All films that grossed over half billion  <p style="color: blue;">(/all-films-over-half-a-billion)</p>
Top 10 UK films  <p style="color: blue;">(/top-10-uk-films)</p>
Films with an IMDB score over 9  <p style="color: blue;">(/all-films-with-imdb-score-over-nine)</p>
    Foreign language films since 2000  <p style="color: blue;">(/foreign-language-films-2000)</p>
